build/

.gradle/
.idea/

# Package Files #
*.jar

*.log
/.vs
/dot-net/UnitTesting
/dot-net/WhatWouldYouChange/obj
/dot-net/WhatWouldYouChange/bin/Debug
/dot-net/WhatWouldYouChange/.vs/ExampleProgram/v15
